/* HOME SECTION*/
body{
    margin: 0;
    background-color: var(--darkgray);
}

li {
    list-style-type: none;
}

.download{
    display: block;
    text-align: center;
    padding: 4% 50px;
    color: var(--white);
}

.download__v1 {
    padding-bottom: 50px;
    font-size: 1.3rem;
}

.download__v1 p {
    padding-top: 2%;
}

.download__legacy {
    font-size: 1.3rem;
    padding: 2%;
    flex-wrap: wrap;
}

.download__legacy p {
    padding-top: 2%;
}

.download__icons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#legacy {
    padding: 20px;
}

.download__github{
    display: flex;
    justify-content: flex-start;
    color: var(--black);
    align-items: center;
    width: 250px;
    height: 80px;
    background-color: var(--white);
    position: relative;
    border: none;
    flex-wrap: wrap;
    margin: 20px;
    padding-left: 10px;
    cursor: pointer;
    transition: 0.5s;
}


.download__github button{
    text-decoration: none;
    border: none;
    background-color: var(--white);
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}

.download__github:hover {
    margin: 15px 20px 15px 20px;
}

.download__github div{
    font-size: 2rem;
    color: var(--black);
}

@media screen and (max-width: 720px) {
    .download {
        margin-top: 100px;
    }

    #legacy {
        padding:30px 0px 0px 0px;
    }
}