@import url('https://fonts.googleapi.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapi.com/css?family=Poppins:300,400,500,700');
#top
{
    background-color: black;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

#top a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#top a:hover
{
    /*border-radius: 3px; n'est pas beau à voir*/
    background-color: white;
    color: black;
}

#top a.active
{
    /*border-radius: 3px; n'est pas beau à voir*/
    background-color: #008000;
    color: white;
}

#void
{
    flex-grow: 1;
}

#menu img
{
    width: 128px;
    height: 31px;
}

#menu img:hover
{
    background-color: black;
}

body
{
    margin: 0px;
    background-color: gray;
    color: white;
}

h1
{
    font-size: xx-large;
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}

h2
{
    font-size: x-large;
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
}

p
{
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
}

#socialmedia
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

#footer
{
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}