#top
{
    background-color: black;
    overflow: hidden;
}

#top a 
{
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#top a:hover
{
    background-color: white;
    color: black;
}

#top a.active
{
    background-color: green;
    color: black;
}

#void
{
    flex-grow: 1;
}

#menu img
{
    width: 128px;
    height: 31px;
    text-align: left;
}

body
{

    background-color: black;
    color: white;
    text-align: center;
}

h1
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

h2
{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

#contributors
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contributors img
{
    width: 128px;
}