#top
{
    display: flex;
    justify-content: space-between;
    color: white;
}

#menu img
{
    width: 128px;
    height: 31px;
    text-align: left;
}

#menu
{
    color: white;
}

#flex_title
{
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    justify-content: center;
}

body
{

    background-color: black;
    color: white;
    text-align: center;
}