#top
{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
}

#menu img
{
    width: 128px;
    height: 31px;
    text-align: left;
}

body
{

    background-color: black;
    color: white;
    text-align: center;
}

h1
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

h2
{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}

#contributors
{
    display: flex;
    justify-content: center;
    align-items: center;
}