#top
{
    display: flex;
    justify-content: space-between;
    color: white;
}

#menu img
{
    width: 128px;
    height: 31px;
    text-align: left;
}

#menu
{
    background-color: black;
    color: white;
}

#navbar
{
    display: flex;
    text-align: center;
    color: white;
    flex-wrap: nowrap;
    justify-content: center;
}

#imgcenter
{
    text-align: center;
}

#button
{
    text-align: center;
}

body
{

    background-color: black;
    background-image: url("../img/download/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

h1
{
    text-align: center;
}

p
{
    text-align: center;
}