#top
{
    display: flex;
    justify-content: space-between;
    color: white;
}

#menu img
{
    width: 128px;
    height: 31px;
    text-align: left;
}

#menu
{
    color: white;
}

body
{

    background-color: black;
    color: white;
}

h1
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#discordlink
{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}