@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');
#top
{
    background-color: black;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

#top a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#top a:hover
{
    /*border-radius: 3px; n'est pas beau à voir*/
    background-color: white;
    color: black;
}

#top a.active
{
    /*border-radius: 3px; n'est pas beau à voir*/
    background-color: #008000;
    color: white;
}

#void
{
    flex-grow: 1;
}

#menu img
{
    width: 128px;
    height: 31px;
    text-align: left;
}

#menu img:hover
{
    background-color: black;
}

#imgcenter
{
    text-align: center;
}

body
{
    margin: 0px;
    background-color: gray;
    color: white;
}

#button
{
    text-align: center;
}

#legacy
{
    text-align: center;
}

h1
{
    font-family: 'Roboto Flex', Arial, sans-serif;
    text-align: center;
}

h2
{
    font-family: 'Roboto Flex', Arial, sans-serif;
    text-align: center;
}

p
{
    font-family: 'Roboto', Arial, sans-serif;
    font-size: larger;
    text-align: center;
}

#footer
{
    bottom: 0;
    position: static;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}