@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

@media screen and (max-width: 600px)
{
    .top a:not(:first-child) {display: none;}
    .top a.icon
    {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px)
{
    .top.responsive {position: relative;}
    .top.responsive a.icon
    {
        position: absolute;
        right: 0;
        top: 0;
    }   
}

#top
{
    background-color: black;
    overflow: hidden;
    position: relative;
    font-family: sans-serif;
}

#top a 
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#top a:hover
{
    /*border-radius: 3px; n'est pas beau à voir*/
    background-color: white;
    color: black;
}

#top a.active
{
    /*border-radius: 3px; n'est pas beau à voir*/
    background-color: #008000;
    color: white;
}

#top a.active
{
    /*border-radius: 3px; n'est pas beau à voir*/
    background-color: #008000;
    color: white;
}

#top a.icon
{
    display: none;
}

#void
{
    flex-grow: 1;
}

#menu img
{
    width: 128px;
    height: 31px;
}

#menu img:hover
{
    background-color: black;
}

body
{
    margin: 0px;
    background-color: gray;
    color: white;
}

#Desktop
{
    text-align: center;
}

h1
{
    font-size: xx-large;
    font-family: 'Roboto Flex', Arial, sans-serif;
    text-align: center;
}

h2
{
    font-size: x-large;
    font-family: 'Roboto Flex', Arial, sans-serif;
    text-align: center;
}

p
{
    font-family: 'Roboto', Arial, sans-serif;
    text-align: center;
}

#socialmedia
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
}

#footer
{
    bottom: 0;
    position: static;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}