#imgcenter
{
    text-align: center;
}

h1
{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

img
{
    height: 250px;
    width: 250px;
}